body {
    color: #fff;
    margin: auto;
    padding: auto;
}

.container{
    width: 1210px;
}

.container header, .container .menu{
    padding: 5px 130px;
}


header {
    border: 0px solid;
    height: 66px;
    background-color: #1569b2;
    /*background: url("../i/head.jpg") repeat-x;*/
}

.logo {
    background: url("../i/logo.png") no-repeat;
    height: 54px;
}

header .header-menu {
	margin-top: 17px;	
}

header .header-menu li{
	list-style: none;
	display: inline;
}

.line {
    background-color: #c4da38;
    height: 9px;
}

.line-0 {
    background-color: #186ab2;
    height: 1px;
}

.line-1 {
    background-color: #00305b;
    height: 1px;
}

.menu {
    height: 67px;
    background-color: #003663;
}

.menu menu li{
    background-color: #04264c;
    height: 47px;
    margin-left: 5px;
    border-top-left-radius: 2px;
}